# http://editorconfig.org
root=true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_size = 4
indent_style = space
max_line_length = 120
tab_width = 4

[*.py]
indent_style = space
indent_size = 4
file_type_emacs = python
trim_trailing_whitespace = true
max_line_length = 99

[LICENSE.md]
insert_final_newline = false

[*.yml]
indent_style = space
indent_size = 2
